<div class="row">
  <div class="col">
    <input #termino type="text" name="" id="" (keyup)="buscar(termino.value)" class="form-control" placeholder="buscar cancion">
  </div>
</div>
<app-loading class="m-5" *ngIf="loading"></app-loading>
<app-tarjetas *ngIf="!loading" [items]="artistas"></app-tarjetas>