<app-loading *ngIf="loading"></app-loading>
<div class="row"  *ngIf="!loading">
  <div class="col-2">
    <img [src]="artista.images | noimage" class="img-thumbnail img-circle" alt="">
  </div>
  <div class="col">
    <h3>{{ artista.name }}</h3>
    <p><a [href]="artista.external_urls.spotify" target="_blank">ir a la página del artista</a></p>
  </div>
  <div class="col-4 text-right">
    <button routerLink="/search" class="btn btn-outline-danger">Regresar</button>
  </div>
</div>
<div class="row m-5">
  <div class="col">
    <table class="table" style="color:white">
      <thead>
        <tr>
          <th>Foto</th>
          <th>Album</th>
          <th>Cancion</th>
          <th>Vista previa</th>
        </tr>
      </thead>
      <tbody *ngFor="let topTrack of topTracks"> 
        <td> <img class="img-thumb" [src]="topTrack.album.images | noimage" alt=""> </td>
        <td> {{ topTrack.album.name }}</td>
        <td> {{ topTrack.name }}</td>
        <td>
          <!-- <audio [src]="topTrack.preview_url" controls></audio> -->
          <iframe [src]=" topTrack.uri | domseguro" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
        </td>
      </tbody>
    </table>
  </div>
</div>