<div class="card-columns mt-5 animated fadeIn">
  <div class="card puntero" (click)="verArtista( item )" *ngFor="let item of items">
    <img [src]="item.images | noimage" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title"> {{ item.name }} </h5>
      <p class="card-text"><span class="badge badge-pill badge-primary" *ngFor="let artista of item.artists"> {{ artista.name }} </span></p>
    </div>  
  </div>
</div>